# basics
# ------
pytest
yapf
pylint
ipython

# ml libs (guessing for now)
# -------
https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.10.1-py3-none-any.whl
scipy
scikit-learn
pandas
matplotlib

# rest
# ----
requests
flask
